@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'sora', 'sans-serif';
}
:root{
    --buttonColor:#25D366;
    --buttonHover:#075E54;
    --darkGreen:#2D6218;
    --blue:#04265E;
}
body{
    padding:24px;
}

.simulatorContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:#E5E5E5;
    border-radius:20px;
}

#simulatorContainer .simulatorBody{
    padding:20px;
    min-height:250px;
    height:100%;
    max-width:1200px;

}
#simulatorContainer .row{
    display:flex;
    margin:24px 0;
}

#simulatorContainer .col{
    flex-direction:column;
    padding:12px;
}

#simulatorContainer .col50{
    width:50%;
}

#simulatorContainer .col100{
    width:100%;
}
#simulatorContainer .monthList{
    font-size:12px;
    width:100%;
    display:flex;
    justify-content: space-around;
}
#simulatorContainer .userInputData{
    margin-bottom:12px;
}
#simulatorContainer .userInputData label{
    margin-right:12px;
}
#simulatorContainer .inputIdentifier{
    margin-right:8px;
}
#simulatorContainer .chartContainer{
    height:120px;
}
#simulatorContainer .chart {
    width: 500px;
    height: 30px;
}

.bar {
    display:flex;
    align-items:center;
    padding-left:12px;
    height: 100%;
    flex-grow: 1;
    transition: width 0.5s ease;
    margin: 12px 0;
    border-radius: 20px;
    max-width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1); /* Adicionando um tom de cinza claro */
    overflow: hidden; /* Para ocultar o texto que se estende além da barra */
}

.bar .value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333; /* Mudando a cor do texto para um tom mais escuro */
    font-size: 12px; /* Ajustando o tamanho da fonte */
    font-weight: bold; /* Deixando o texto em negrito */
    white-space: nowrap; /* Impedindo que o texto quebre em várias linhas */
    padding: 2px 6px; /* Adicionando um espaçamento interno */
    background-color: rgba(255, 255, 255, 0.8); /* Adicionando um fundo branco translúcido */
    border-radius: 10px; /* Arredondando as bordas do texto */
}


#precnet {
    background-color: #ffcec3;
}

#cdb {
    background-color: #d0ffd8;
}

#lci-lca {
    background-color: #c4d9ff;
}


#amountInvested{
    border-radius:20px;
    border:1px solid #777;
    padding:6px;
}

#monthOfPayment{
    width:100%;
}

#simulatorContainer input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }

#simulatorContainer input[type=number]::-webkit-inner-spin-button, 
#simulatorContainer input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
}